
/* ==========================================================================
    Base Styles
============================================================================= */

html {
    background: $colour-primary;

    body {
        font-family: 'Oswald', sans-serif;
        margin: 0;
        color: $colour-mono-dark;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Lobster', cursive;
        color: $colour-secondary;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.1rem;
    }
}

html.fetching {
    cursor: progress;
}


/* ==========================================================================
    App Layout Style
============================================================================= */

    body {
        display: table;
        width: 100%;
        min-height: 100vh;

        #app {
            display: table-cell;
            vertical-align: middle;
        }
    }

/* ==========================================================================
    CTA Styles
============================================================================= */

.button {
    display: inline-block;
    position: relative;
    background: $colour-secondary;
    color: $colour-mono-light;
    text-align: center;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
    user-select: none;
    
    transition: .25s;
    box-shadow: inset 0em 0 0 0 $colour-highlight, inset 0em 0 0 0 $colour-highlight;

    span {
        // transition: .25s;
        // text-shadow: 0rem 0rem 0 #ECD18E, 0rem 0rem 0 #ECD18E;
    }
}
.button.disabled {
    opacity: .75;
    pointer-events: none;
}
.button:hover, .button:focus {
    box-shadow: inset -3.5em 0 0 0 $colour-highlight, inset 3.5em 0 0 0 $colour-highlight;

    span {
        //text-shadow: 0.25rem 0.25rem 0 var(--colour-secondary-light), -0.25rem -0.25rem 0 var(--colour-secondary-light);
    }
}