
/* ==========================================================================
    Colours
============================================================================= */

:root {
    --colour-primary: rgb(136,171,129);
    --colour-primary-light: rgb(154, 197, 148);
    --colour-primary-dark: rgb(116, 150, 112);
    
    --colour-secondary: rgb(68,37,42);
    --colour-secondary-light: rgb(97, 53, 61);
    --colour-secondary-dark: rgb(53, 29, 32);
    
    --colour-tertiary: rgb(236,209,142);
    --colour-tertiary-light: rgb(255, 226, 154);
    --colour-tertiary-dark: rgb(209, 179, 124);

    --colour-mono-dark: rgb(53,54,56);
    --colour-mono-light: rgb(240,238,238);

    --colour-error: rgb(220,30,30);






    // --colour-primary: #00a896;
    
    // --colour-secondary: #05668d;
    // --colour-secondary-light: #fff;
    // --colour-secondary-dark: #fff;
    
    // --colour-tertiary: #02c39a;




    // --colour-primary: #9a8c98;
    
    // --colour-secondary: #22223b;
    // --colour-secondary-light: #fff;
    // --colour-secondary-dark: #fff;
    
    // --colour-tertiary: #f2e9e4;



    // --colour-primary: #d5b9b2;
    
    // --colour-secondary: #6d2e46;
    // --colour-secondary-light: transparent;
    // --colour-secondary-dark: #a26769;
    
    // --colour-tertiary: #ece2d0;
    // --colour-mono-light: #f4f1de;
    // --colour-mono-dark: #50514f;




    
    // --colour-primary: #81b29a;
    
    // --colour-secondary: #3d405b;
    // --colour-secondary-light: #fff;
    // --colour-secondary-dark: #fff;
    
    // --colour-tertiary: #f2cc8f;

    // --colour-mono-light: #f4f1de;

    
    
    // --colour-primary: #70a0af;
    
    // --colour-secondary: #331e38;
    // --colour-secondary-light: transparent;
    // --colour-secondary-dark: #706993;
    
    // --colour-tertiary: #f4e8c1;

    // --colour-mono-light: #f4f1de;
    // --colour-mono-dark: #50514f;
    
    





    // --colour-primary: #70a0af;
    
    // --colour-secondary: #331e38;
    // --colour-secondary-light: transparent;
    // --colour-secondary-dark: #706993;
    
    // --colour-tertiary: #f4e8c1;

    // --colour-mono-light: #f4f1de;
    // --colour-mono-dark: #50514f;



    
    
    --colour-primary: #5b8e7d;
    
    --colour-secondary: #bc4b51;
    --colour-secondary-light: transparent;
    --colour-secondary-dark: #f4e285;
    
    --colour-tertiary: #f4a259;
    
    --colour-mono-light: #f4f1de;
    --colour-mono-dark: #50514f;
    
}

$colour-primary: #5b8e7d;

/* ==========================================================================
    Base Styles
============================================================================= */

html {
    background: var(--colour-primary);
    background: $colour-primary;

    body {
        font-family: 'Oswald', sans-serif;
        margin: 0;
        color: var(--colour-mono-dark);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Lobster', cursive;
        color: var(--colour-secondary);
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.1rem;
    }
}

html.fetching {
    cursor: progress;
}


/* ==========================================================================
    App Layout Style
============================================================================= */

    body {
        display: table;
        width: 100%;
        min-height: 100vh;

        #app {
            display: table-cell;
            vertical-align: middle;
        }
    }

/* ==========================================================================
    CTA Styles
============================================================================= */

.button {
    display: inline-block;
    position: relative;
    background: var(--colour-secondary);
    color: var(--colour-mono-light);
    text-align: center;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
    user-select: none;
    
    transition: .25s;
    box-shadow: inset 0em 0 0 0 var(--colour-secondary-dark), inset 0em 0 0 0 var(--colour-secondary-dark);

    span {
        transition: .25s;
        text-shadow: 0rem 0rem 0 #ECD18E, 0rem 0rem 0 #ECD18E;
    }
}
.button.disabled {
    opacity: .75;
    pointer-events: none;
}
.button:hover, .button:focus {
    box-shadow: inset -3.5em 0 0 0 var(--colour-secondary-dark), inset 3.5em 0 0 0 var(--colour-secondary-dark);

    span {
        text-shadow: 0.25rem 0.25rem 0 var(--colour-secondary-light), -0.25rem -0.25rem 0 var(--colour-secondary-light);
    }
}